@use "sass:math";
$colrev: column-reverse;
$minimum-height: 100vh;
$colrev: column-reverse;
$minimum-height: 100vh;
$primary : blue;
$secondary : yellow;
@use "nav";
@use "banner";
@mixin flexCenter($direction: row){
    display: flex;
    justify-content: center;
    flex-direction: $direction;
    align-items: center;
    gap: 10px;
}
*,
*::before,
*::after{
    margin: 0;
    box-sizing: border-box;
}
.active{
    border-bottom: nav.$basic-border;
}
.container{
    height: $minimum-height;
    background-color: $primary;
    @include flexCenter(column);
    .content{
        height: 25%;
        width: math.div(100%,3);
        background-color: $secondary;
    }
}

%basic-message{
    border: 10px solid #ccc;
    padding: 10px;
    color: #333;
}
.success{
    @extend %basic-message;
    border-color: green;
}
.error{
    @extend %basic-message;
    border-color: red;
}
.warning{
    @extend %basic-message;
    border-color: yellow;
}