:root {
  --primary: #1f274c;
  --secondary: aqua;
  --accent: #d1d3d9;
}
* {
  margin: 0;
  box-sizing: border-box;
}
header,.work-approach {
  background: var(--accent);
}
.banner,.projects,footer {
  background: var(--primary);
  color: white;
}
.intro,.testimony {
  background: var(--secondary);
}

header,
.banner,
.intro,
.projects,
.testimony,
.work-approach, 
footer {
  padding: 10px 50px;
}
.title {
  color: red;
}
.work-btn {
  background-color: #1f274c;
  color: white;
}
.btn {
  background-color: #fc5739;
  color: white;
  cursor: pointer;
}
.btn:hover{
    background: var(--accent);
    color: black;
}
.work-btn:hover{
    background: var(--accent);
    cursor: pointer;
    color: black;
}
/* .background>.content::first-letter{
    font-size: 50px;
} */
.work-approach{
    position: relative;
}
.float {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
/* .projects>.img-container{
    position: relative;
    right: 20px;
}
header{
    position: sticky;
    top: 0;
} */
.flex-container{
  display: flex;
}
.logo{
  margin-right: auto;
  align-self: center;
}
nav>ul{
  display: flex;
  gap: 20px;
  list-style: none;
}
nav > ul > li{
  /* text-decoration: underline; */
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
nav > ul > li:hover{
/* text-decoration: underline; */
border-bottom: 1px solid black;
}
.active{
  border-bottom: 1px solid black;
}
.banner, .projects{
  display: flex;
}
.banner > .info{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.projects > .projects-info{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.banner > .image-container{
  flex: 1;
  width: 200px;
}
.projects > .image-container{
  flex: 1;
  width: 200px;
}
.image-container > img{
  width: 100%;
}
.intro {
  text-align: center;
}
.service-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.service-content > .card{
padding: 20px;
}
.service-content > .card> .card-title{
  font-weight: 700;
  font-size: 1.5rem;
}
.hamburger{
  display: none;
  height: 25px;
}
.hamburger > img{
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hamburger{
    display: block;
  }
  nav > ul{
    display: none;
  }
  .banner{
    flex-direction: column-reverse;
  }
  .banner > .image-container{
    align-self: center;
  }
}